<section id="testimonials">
    <div class="text-container">
        <div class="row">
            <div class="two columns header-col">
                <h1><span>{{ page.header.title }}</span></h1>
            </div>
            {{ page.content }}
            <div class="ten columns flex-container">
                <div class="owl-carousel owl-theme">
                    {% for item in page.header.testimonials %}
                    <blockquote>
                        <p>{{ item.content }}</p>
                        <cite>{{ item.author }}</cite>
                    </blockquote>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
