{% extends 'partials/base.html.twig' %}
{% block content %}
<section id="about">
    <div class="row">
        <div class="nine columns main-col">
	        <h2>Error {{ page.header.http_response_code }}</h2>
	        {{ page.content }}
            Back to <a href="{{ base_url_absolute }}">homepage</a>.
        </div>
    </div>
</section>
{% endblock %}
